* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}

.cardShoe {
  border: 1px solid rgba(128, 128, 128, 0.1215686275);
  padding: 15px;
  margin-bottom: 30px;
}
.cardShoe img {
  background-color: #eaeaea;
  border-radius: 8px;
}
.cardShoe .cardShoe__title {
  font-size: 20px;
  font-weight: 700;
  color: #87b106;
}
.cardShoe .cardShoe__text {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}
.cardShoe .cardShoe__rating {
  color: #faec07;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
  padding: 20px 0;
  background-color: transparent;
  transition: all 0.3s ease;
}
header .topHeader {
  color: #fff;
  height: 50px;
}
header .topHeader a {
  color: #fff;
  margin: 10px;
}
header .topHeader .topHeaderRight {
  text-align: right;
}
header .topHeader .topHeaderRight a {
  color: #fff;
  margin-left: 10px;
}
header .topHeader .topHeaderRight .UserWrap {
  position: relative;
}
header .topHeader .topHeaderRight .UserWrap .userInfo {
  top: 20px;
  right: 50px;
  position: absolute;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
}
header .topHeader .topHeaderRight .cartWrap {
  position: relative;
}
header .topHeader .topHeaderRight .cartWrap .cartNo {
  top: -10px;
  right: -12px;
  position: absolute;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #87b106;
}
header .menu .navbar {
  display: flex;
  justify-content: space-between;
}
header .menu .navbar .pj_header__logo {
  width: 50%;
}
header .menu .navbar .nav-item {
  font-size: 20px;
}

.changeStyle {
  background-color: #87b106;
}

.carousel {
  position: relative;
}
.carousel .carousel__text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-60%);
  color: white;
  text-align: left;
}
.carousel .carousel__text h1 {
  font-size: 160px;
  font-weight: 900;
  color: #faec07;
  font-family: "Poppins", sans-serif;
}
.carousel .carousel__text p {
  font-size: 46px;
  font-weight: 500;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.carousel .carousel__text .btnShopNow {
  color: #fff;
  font-size: 20px;
  height: 50px;
  font-weight: 700;
  padding: 0 35px;
  border-radius: 50px;
  background-color: #87b106;
  border: none;
}

footer {
  background-color: #1a1a1a;
  text-align: center;
}
footer .footer__top {
  padding-top: 48px;
  padding-bottom: 45px;
  border-bottom: 1px solid #2f2f2f;
}
footer .footer__top .title {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  line-height: 1rem;
}
footer .footer__top .fsubscribe {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
}
footer .footer__top .fsubscribe .femail {
  height: 50px;
  color: #959595;
  width: 100%;
  padding: 0 20px;
  background-color: #262626;
  border-radius: 50px;
  border: 2px solid #3c3c3c;
  margin-right: 20px;
}
footer .footer__top .fsubscribe .btnSubscribe {
  color: #fff;
  font-size: 20px;
  height: 50px;
  font-weight: 700;
  padding: 0 35px;
  border-radius: 50px;
  background-color: #87b106;
}
footer .footer__top .fSubTxt {
  margin-top: 20px;
  color: #777777;
}
footer .footer__info {
  text-align: left;
}
footer .footer__info .title {
  color: #fff;
  line-height: 1;
  padding-bottom: 10px;
  margin: 0;
}
footer .footer__info ul li {
  list-style: none;
  padding: 5px 0;
}
footer .footer__info ul li a {
  font-size: 16px;
  color: #999999;
}

.backToTop {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #87b106;
  border-radius: 50%;
  box-shadow: -4px 4px 24px -10px var(--primary-color);
  color: white;
  font-size: 13px;
  line-height: 53px;
  text-align: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: all 0.2s;
  opacity: 0;
}

.cd-top--is-visible {
  opacity: 1;
}

.product-gallery {
  padding-top: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #6c757d;
}
.product-gallery .title {
  font-size: 24px;
  font-weight: 900;
  color: #222222;
  margin-bottom: 10px;
}
.product-gallery .sub-title {
  padding-bottom: 30px;
}
.product-gallery .btn-primary {
  background-color: #87b106;
  border: none;
}

.register {
  background-image: url(../img/bgSingUpIn.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register .registerContent {
  width: 400px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 3rem 0 rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.register .registerContent .registerHeader {
  background: linear-gradient(90deg, #007bff, #0052ea);
  box-shadow: 0 4px 20px 0 rgba(0, 123, 255, 0.14), 0 7px 10px -5px rgba(0, 82, 234, 0.4);
  margin: -3rem -1rem 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  color: #fff;
}
.register .registerContent .nm-gp {
  position: relative;
  margin-bottom: 1.5rem;
}
.register .registerContent .ficon {
  color: #007bff;
  font-size: 1rem;
  padding-top: 5px;
  margin-right: 5px;
  line-height: 2.2rem;
}
.register .registerContent .fgender {
  color: #007bff;
  font-size: 1rem;
}
.register .registerContent .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 0.0625rem solid #eeeeff;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1e2022;
  padding: 0.75rem 1.5rem;
  height: 3.225rem;
}
.register .registerContent .input-group .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.Login {
  background-image: url(../img/bgSingUpIn.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login .loginContent {
  width: 400px;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 3rem 0 rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}
.Login .loginContent .loginHeader {
  background: linear-gradient(90deg, #007bff, #0052ea);
  box-shadow: 0 4px 20px 0 rgba(0, 123, 255, 0.14), 0 7px 10px -5px rgba(0, 82, 234, 0.4);
  margin: -3rem -1rem 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  color: #fff;
}
.Login .loginContent .nm-gp {
  position: relative;
  margin-bottom: 1.5rem;
}
.Login .loginContent .ficon {
  color: #007bff;
  font-size: 1rem;
  padding-top: 5px;
  margin-right: 5px;
  line-height: 2.2rem;
}
.Login .loginContent .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 0.0625rem solid #eeeeff;
  border-radius: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #1e2022;
  padding: 0.75rem 1.5rem;
  height: 3.225rem;
}
.Login .loginContent .input-group .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.productDetail {
  margin-top: 30px;
}
.productDetail .productImg {
  border: 1px solid rgba(128, 128, 128, 0.1215686275);
  border-radius: 0.25rem;
}
.productDetail .productDetailContent .title {
  font-size: 24px;
  font-weight: 900;
  color: #222222;
}
.productDetail .productDetailContent .price {
  font-size: 24px;
  font-weight: 700;
  color: #d26b31;
}
.productDetail .productDetailContent .soLuongCart {
  display: flex;
  align-items: center;
}
.productDetail .productDetailContent .soLuongCart .title {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  text-transform: capitalize;
}
.productDetail .productDetailContent .soLuongCart .quantity {
  margin-right: 15px;
}
.productDetail .productDetailContent .soLuongCart .quantity .pro-qty {
  width: 90px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  float: left;
}
.productDetail .productDetailContent .soLuongCart .quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #555555;
}
.productDetail .productDetailContent .soLuongCart .quantity .pro-qty input {
  resize: none;
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}
.productDetail .productDetailContent .soLuongCart .btn-cart2 {
  height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 50px;
  padding: 0 25px;
  background-color: #87b106;
}

.relatedProduct {
  margin-top: 30px;
  text-align: center;
}
.relatedProduct .title {
  font-size: 24px;
  font-weight: 900;
  color: #222222;
}

.cartContent {
  margin-top: 30px;
}
.cartContent .myTable thead {
  background-color: #87b106;
  color: #fff;
}
.cartContent #tblCartList .thumbnail {
  width: 140px;
}
.cartContent #tblCartList td {
  vertical-align: middle;
  text-align: center;
}
.cartContent #tblCartList .pro-qty {
  width: 90px;
  height: 40px;
  border: 1px solid #ddd;
  padding: 0 15px;
  float: left;
}
.cartContent #tblCartList .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 38px;
  cursor: pointer;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #555555;
}
.cartContent #tblCartList .pro-qty .qtyText {
  width: 28px;
  float: left;
  border: none;
  height: 40px;
  line-height: 34px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}
.cartContent .tongtien {
  text-align: right;
  font-weight: 600;
}
.cartContent .tongtien .ttNumber {
  color: #d26b31;
}/*# sourceMappingURL=main.css.map */