//color
$color-white-0: #fff;
$color-black-0: #212529;
$color-black-1: #222222;
$color-black-2: #1a1a1a;
$color-gray-0: #6c757d;
$color-gray-1: #777777;
$color-gray-2: #555555;
$color-gray-4: #999999;
$color-orange-0: #fd7e14;
$color-green-0: #87b106;
$color-yellow: #faec07;

//font size
$fs-14: 14px;
$fs-16: 16px;
$fs-17: 17px;
$fs-20: 20px;
$fs-24: 24px;
$fs-46: 46px;
// $fs-60: 60px;
$fs-160: 160px;

//font weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-15: 15px;
$pd-20: 20px;
$pd-30: 30px;
$pd-40: 40px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;
$pd-9:5px;
$pd-10:20px;

//Margin
$mg-20: 20px;
$mg-10: 10px;
$mg-30: 30px;
$mg-3: 70px;
$mg-4: 60px;

//border
$bd-1: 2px;
$bd-2: 8px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
    "extra-large-down": 1199.98px,
    "large-down": 991.98px,
    "medium-down": 767.98px,
    "small-down": 575.98px,
);
