.carousel {
    position: relative;

    .carousel__text{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-60%);
        color: white;
        text-align: left;

        h1 {
            @include styleText($fs-160, $fw-900, $color-yellow);
            font-family: "Poppins", sans-serif;
        }

        p {
            @include styleText($fs-46, $fw-500, $color-white-0);
            font-family: "Poppins", sans-serif;
        }

        .btnShopNow {
            color: #fff;
                font-size: $fs-20;
                height: $fs-46;
                font-weight: $fw-700;
                padding: 0 35px;
                border-radius: 50px;
                background-color: $color-green-0;
                border: none;
        }
    }
}

