.cardShoe{
    // box-shadow: 6px 6px 12px $color-white-0, -6px -6px 12px $color-gray-0;
    // background-color: $color-gray-1;
    border: 1px solid #8080801f;
    padding: 15px;
    margin-bottom: $mg-30;
    img{
        // box-shadow: 6px 6px 12px $color-white-0, -6px -6px 12px $color-gray-0;
        background-color: #eaeaea;
        border-radius: $bd-2;
    }
    .cardShoe__title{
       @include styleText($fs-20,$fw-700,$color-green-0);
    }
    .cardShoe__text{
        @include styleText($fs-14,$fw-400,$color-gray-4)
    }
    .cardShoe__rating{
        color: $color-yellow;
    }
}